<div id="about">
  <div class="center">
    <h1>RIDEHUB</h1>
    <p>RideHub is a cycling meetup app to connect cyclists. RideHub aims to by making it easier to find people to ride with by listing all local rides. Simply browse the map and join a ride!</p>
    <p style="font-size:1em">Version 1.0</p>
  </div>
</div>