<div id="about">
  <div class="center">
    <h1>RIDEHUB</h1>
    <p>RideHub is a cycling meetup app that aims to connect bike riders by making it easier to find people to ride with. Simply look through the map to see rides in your area, and join the ride if it suits your fancy!</p>
  </div>
</div>