<div class="sign_up_container">

<div class="center" >
  <h2>Welcome to</h2>
  <h1 style="font-size:3.5em">RIDEHUB</h1>
  <h3>Please <a href="/sessions/new">sign in</a> or <a href="/users/new">sign up<a></h3>
</div>

</div>