<div class="sign_up_container">

<div class="center">
  <h1 style="color:black">Sign Up</h1>
  <form id="sign-up" method="post" action="/users">

    <label class="label" for="first_name">First Name</label>
    <br>
    <input type="text" name="first_name" placeholder="e.g., joe" >
    <br>

    <label class="label" for="last_name">Last Name</label>
    <br>
    <input type="text" name="last_name" placeholder="e.g., joe" >
    <br>

    <label class="label" for="email">Email</label>
    <br>
    <input type="email" name="email" placeholder="e.g., me@example.com" >
    <br>

    <label class="label" for="password">Password</label>
    <br>
    <input type="password" name="password" placeholder="6 or more characters">
    <br>

    <label class="label" for="city">City</label>
    <br>
    <input type="text" name="city" placeholder="Enter City">
    <br>

    <label class="label" for="state">State</label>
    <br>
    <input type="ptext" name="state" placeholder="Enter State">
    <br>

    <div class="submit"><input style="color:black; margin:15px" type="submit" value="Sign Up"></div>
  </form>
</div>

</div>